* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#unique {
  font-size: 3rem;
}

button {
  border: none;
  padding: 0;
  font-size: 2rem;
  background: none;
}

.animal {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#btn {
  font-size: 1rem;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
}

.card {
  border: black solid 1px;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.card-details {
  border-bottom: gray solid 1px;
  margin-bottom: 20px;
}

/* .alert-wrapper {
 padding: 15px;
 margin-bottom: 15px;
}

.alert-wrapper.success {
 border: #616da7 solid 1px;
}

.success h2 {
 color: #594aaf;
}

.alert-wrapper.error {
 border: #F56260 solid 1px;
}
.error h2 {
 color: #F56260;
} */
/* 
.cart-success {
 border-top: black solid 1px;
 display: flex;
 flex-wrap: wrap;
}
.cart-success h2 {
 width: 100%;
}
.item {
 margin-right: 20px;
} */

.product span {
  font-size: 100px;
}

.box {
  border-right: 1px solid black;
}

.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-box {
  padding: 20px;
  font-size: 20px;
  border: 1px solid black;
}

.container button {
  font-size: 20px;
  background: none;
  margin: 20px;
  cursor: pointer;
  background-color: skyblue;
  padding: 3px 5px;
  border-radius: 5px;
}

#product {
  font-size: 95px;
}

#name {
  font-size: 2rem;
}

#price {
  font-size: 2rem;
}

.new-product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.salad-maker {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 60vw;
  /* height: 60vh; */
  margin-top: 20px;
}

.salad-builder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.salad-items {
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  /* background-color: blue; */
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.salad-items button {
  font-size: 3rem;
  background-color: transparent;
}

.theme {
  border: 1px solid black;
  margin-top: 20px;
}

.wrapper {
  padding: 20px;
}

.wrapper label {
  display: flex;
  flex-direction: column;
}

.wrapper button {
  background: none;
  border: black solid 1px;
  cursor: pointer;
  margin-right: 10px;
}

.wrapper div {
  margin: 20px 0;
}

.preview{
  border: 1px solid black;
  padding: 10px;
  word-wrap: break-word;
}

.information {
 font-size: .75em !important;
 color: blue !important;
 cursor: pointer;
}
.wrapper button.information {
 border: none;
}
.information-wrapper {
 position: relative;
}
.popup {
 position: absolute;
 background: white;
 border: 1px darkgray solid;
 padding: 10px;
 top: -70px;
 left: 0;
}

.form {
 padding: 5px 20px;
 width: 30vw;
}
.form fieldset {
 padding: 30px 5px;
}
